.formbox{
    margin-top:5%;
    padding:0 3%;
}
.formgroup{
    padding-left:.5rem;
    border:1px solid #666;
    background-image: url('./user.png');
    background-repeat: no-repeat;
    background-size: .3rem .32rem;
    background-position: .1rem center;


    input{
        box-sizing: content-box;
        height: 0.4rem;
        padding:0.3rem 0;
        line-height: 1.5em;
    }
}
.inforBox{
    li{
        height: 0.8rem;
        line-height: 0.8rem;
    }
}
.inforBox li{

}